<div *ngFor="let op of options; index as i">
  <input type="checkbox" [id]="op" value="{{op}}" #chkbox [checked]="values.includes(op)" (change)="onChange(onChange($event))" [disabled]="isDisabled">
  <label [attr.for]="op">{{op}}</label>
</div>
